body {
    margin: 5% 3% 5% 3%;
    font-size: large;
    background-color:burlywood;
}
.columns {
    display: flex;
}
.left_column, .right_column {
    width: 40%;
    border: 1px solid saddlebrown;
    padding: 5%;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.register, #confirm {
    width: 220px;
    height: 60px;
    background-color: saddlebrown;
    font-size: 22px;
} 
select, option {
    max-width: 90%;
}